<div class="col-lg-12 col-md-12">	
	<h3> </B>Retrive Hostory</B></h3>		  
	<div class="row"> 
	  <div class="col-lg-5 col-md-5">
		<div class="input-group input-group-sm add-on">
		  <input type="text" class="form-control search-query input-sm" ng-model="query" ng-change="search()" placeholder="Search">
		  <div class="input-group-btn">
			<button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		  </div>
		</div>
	  </div>
		<div class="col-lg-2 col-md-2">		
			<select title="page size" class="form-control input-sm " ng-model="itemsPerPage" ng-change="perPage()" ng-options="(size) for size in pageSizes"></select>			
		</div> 	  
	  <div class="col-lg-3 col-md-3">
	  	Total Number of records - {{items.length}}	  	
	  </div>	  
		<div class="col-lg-1 col-md-1">		
			<a href="" role="button" class="btn btn-default btn-sm" ng-click="findSelected()" data-toggle="modal">Next &nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>			
		</div> 	 	  		 
	</div>			
	<br>	
	<div class="text-center" ng-show="loading">
		<img alt="Processing...." src="\assets\images\loading.svg" height="50px">
	</div>	
	<div class="table-responsive">
		<table class="table table-hover table-condensed">	
		  <tbody>
			  <tr>
				<th class="id">Select </th>
				<th class="name"><a ng-click="sort_by('name')">Name <!-- <span class="glyphicon glyphicon-sort-by-attributes"></span> --></a></th>
				<th class="directoryName"><a ng-click="sort_by('directoryName')">Directory Name</a></th>	
				<th class="ChildTags">Child Tags</th>
				<!-- <th class="field4"><a ng-click="sort_by('field4')">Field 4 <i class="fa fa-sort"></i></a></th>
				<th class="field5"><a ng-click="sort_by('field5')">Field 5 <i class="fa fa-sort"></i></a></th>
				<th></th> -->
			  </tr>
		  </tbody>		  
		  <tbody>
			<tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
			  <td><input type="checkbox" ng-model="item.selected"> </input></td>
			  <td>{{item.name}}</td>
			  <td>{{item.directoryName}}</td>
			  <td>{{item.childXmlNames}}</td>
			  <!-- <td><a href="#">{{item.field3}}</a></td>
			  <td>{{item.field4}}</td>
			  <td>{{item.field5}}</td>
			  <td><a href="#" ng-click="deleteItem($index)">x</a></td> -->
			</tr>
		  </tbody>  	  	  	  
		</table>	
		<div class="text-center col-md-3 col-lg-12" ng-show="pagedItems.length > 0">							
			<ul class="pagination pagination-sm">
				<li ng-class="{disabled: currentPage == 0}">
					<a href="javascript:;" ng-click="firstPage()"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
				</li>
				<li ng-class="{disabled: currentPage == 0}">
					<a href="javascript:;" ng-click="prevPage()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp; Previous</a>
				</li>		  		  
				<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
					<a href="javascript:;" ng-click="nextPage()">Next &nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
				</li>		  
				<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
					<a href="javascript:;" ng-click="lastPage()"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a>
				</li>
			</ul>
		</div>
	</div>	
</div>
